
       .head-cat-div { top: 0px;}
       #m{width: 100%;}
       #data{width:250px;box-shadow: 0px 0px 10px;margin: 10px;}
       #contain{ margin-left: 290px; background-color: white; margin-top: -278px; width: auto; }
       #prof{background-color: white; text-align: center; margin-top: 10px;} 
       #name{background-color: #2a2a2a; height: 100px; color: white; font-size: 20px;}
       #name h3{ margin-left: 88px; margin-top: -24px;}
       #name > img{ border-radius: 50%; height: 80px; width: 80px;}
       #profile:hover,#address:hover,#order:hover{background-color: lightblue;} 
       #mypro{ width: 100%;}
       #add{ width: 100%; } 
       #mypro input[type=text],#addform input[type=text],#mypro input[type=password]{height: 30px; width: 96%; border-radius:1px; }
       :disabled {background-color: #fafafa; cursor: not-allowed;}
       input[type=submit],#addform input[type=submit],#addc{border: none; color: blue; background-color: white; cursor: pointer;}
       a:hover { text-decoration: none;}
       #newadd{height: 40px; width: 100%; padding: 9px;}
       #cancelpass{height: 50px; width: 80px;}
       #faq{ padding: 50px; margin-top: 70px; position: relative;}
       #a1 input[type=submit],#a1 input[type=button] { background-color: white;
                  color: blue; 
                  width: 50px;
                  height: 30px;
                  padding: 1px;
                  border: 1px lightgray solid;
                  border-radius: 2px;
                  font-size: small;
                  cursor: pointer;}

                               
    @media (max-width:574px){

       #newadd{height: 40px; width: 90%;}
       #m{width: 100%; }
       #data{width:250px;box-shadow: 0px 0px 10px;margin: 10px;}
       #contain{background-color: white; margin-top: 20px; margin-left: 10px; width: auto;}
       #prof{background-color: white; text-align: center; margin-top: 10px; } 
       #name{background-color: #2a2a2a; height: 100px; color: white; font-size: 20px;}
       #name h3{ margin-left: 88px; margin-top: -24px;}
       #name > img{ border-radius: 50%; height: 80px; width: 80px;}
       #profile:hover,#address:hover,#order:hover{background-color: lightblue;} 
       #mypro{ width: 100%;}
       #passw{margin-left: 20px;}
       #add{ width: 100%; } 
       #mypro input[type=text],#addform input[type=text]{height: 30px; width: 96%; border-radius:1px; }
       #mypro input[type=password]{height: 30px; width: 300px; border-radius:1px; }
       :disabled {background-color: #fafafa; cursor: not-allowed;}
       input[type=submit],#addform input[type=submit]{border: none; color: blue; background-color: white;cursor: pointer;}
       a:hover { text-decoration: none;}
       #newadd{height: 40px; width: 100%; padding: 9px;}
       #cancelpass{height: 50px; width: 80px;}
       #faq{ padding: 50px; margin-top: 70px; position: relative;}
       #a1 input[type=submit],#a1 input[type=button] { background-color: white;
                  color: blue; 
                  width: 50px;
                  height: 30px;
                  padding: 1px;
                  border: 1px lightgray solid;
                  border-radius: 2px;
                  font-size: small;
                  cursor: pointer;}
       #state{width: 190px;}
   }


   @media(min-width:575px) and (max-width:960px){

       #m{width: 100%; }
       #data{width:250px;box-shadow: 0px 0px 10px;margin: 10px;}
       #contain{ margin-left: 290px; background-color: white; margin-top: -278px; width: auto; }
       #prof{background-color: white; text-align: center; margin-top: 10px;} 
       #name{background-color: #2a2a2a; height: 100px; color: white; font-size: 20px;}
       #name h3{ margin-left: 88px; margin-top: -24px;}
       #name > img{ border-radius: 50%; height: 80px; width: 80px;}
       #profile:hover,#address:hover,#order:hover{background-color: lightblue;} 
       #mypro{ width: 100%;}
       #add{ width: 100%; } 
       #mypro input[type=text],#addform input[type=text],#mypro input[type=password]{height: 30px; width: 96%; border-radius:1px; }
       :disabled {background-color: #fafafa; cursor: not-allowed;}
       input[type=submit],#addform input[type=submit]{border: none; color: blue; background-color: white;cursor: pointer;}
       a:hover { text-decoration: none;}
       #newadd{height: 40px; width: 100%; padding: 9px;}
       #cancelpass{height: 50px; width: 80px;}
       #faq{ padding: 50px; margin-top: 70px; position: relative;}
       #a1 input[type=submit],#a1 input[type=button] { background-color: white;
                  color: blue; 
                  width: 50px;
                  height: 30px;
                  padding: 1px;
                  border: 1px lightgray solid;
                  border-radius: 2px;
                  font-size: small;
                  cursor: pointer;}
   }
  
  
   @media(min-width:961px) and (max-width:1290px){

       #m{width: 100%;}
       #data{width:250px;box-shadow: 0px 0px 10px;margin: 10px;}
       #contain{ margin-left: 290px; background-color: white; margin-top: -278px; width: auto; }
       #prof{background-color: white; text-align: center; margin-top: 10px;} 
       #name{background-color: #2a2a2a; height: 100px; color: white; font-size: 20px;}
       #name h3{ margin-left: 88px; margin-top: -24px;}
       #name > img{ border-radius: 50%; height: 80px; width: 80px;}
       #profile:hover,#address:hover,#order:hover{background-color: lightblue;} 
       #mypro{ width: 100%;}
       #add{ width: 100%; } 
       #mypro input[type=text],#addform input[type=text],#mypro input[type=password]{height: 30px; width: 96%; border-radius:1px; }
       :disabled {background-color: #fafafa; cursor: not-allowed;}
       input[type=submit],#addform input[type=submit]{border: none; color: blue; background-color: white;cursor: pointer;}
       a:hover { text-decoration: none;}
       #newadd{height: 40px; width: 100%; padding: 9px;}
       #cancelpass{height: 50px; width: 80px;}
       #faq{ padding: 50px; margin-top: 70px; position: relative;}
       #a1 input[type=submit],#a1 input[type=button] { background-color: white;
                  color: blue; 
                  width: 50px;
                  height: 30px;
                  padding: 1px;
                  border: 1px lightgray solid;
                  border-radius: 2px;
                  font-size: small;
                  cursor: pointer;}
   } 
   @media screen and (max-width:576px)
   {
       #data
       {
           width: 96.5%;
       }
       #mypro input[type=text], #addform input[type=text]
       {
        width: 98%;
       }
   }
